numpy==1.23.3
numba==0.56.4
scipy==1.9.1
opencv-python
matplotlib==3.6.1
zarr==2.12.0
h5py==3.7.0
hydra-core==1.2.0
einops==0.4.1
tqdm==4.64.1
dill==0.3.5.1
scikit-video==1.1.11
scikit-image==0.19.3
gym
pymunk==6.2.1
wandb==0.13.3
shapely==1.8.4
cython==0.29.32
imageio==2.22.0
imageio-ffmpeg==0.4.7
tensorboard==2.10.1
tensorboardx==2.5.1
click==8.0.4
boto3==1.24.96
accelerate==0.13.2
datasets==2.6.1
diffusers==0.11.1
av==10.0.0
ray[default,tune]==2.2.0
robosuite
robomimic==0.2.0
imagecodecs==2022.9.26

fastapi
uvicorn
requests
pydantic
python-multipart

