accelerate==0.13.2
attrs==23.2.0
av==10.0.0
boto3==1.24.96
botocore
cattrs==24.1.2
click==8.0.4
cython==0.29.32
datasets==2.6.1
diffusers==0.11.1
dill==0.3.5.1
einops==0.4.1
fastapi
googleapis-common-protos==1.66.0
grpcio-health-checking==1.68.1
grpcio-reflection==1.68.1
grpcio-status==1.68.1
grpcio-tools==1.68.1
grpcio==1.68.1
gym
h5py==3.7.0
huggingface-hub==0.13.3
hydra-core==1.2.0
imagecodecs==2022.9.26
imageio-ffmpeg==0.4.7
imageio==2.22.0
matplotlib==3.6.1
numba==0.56.4
numpy==1.23.3
opencv-python
protobuf==5.29.2
pydantic
pymunk==6.2.1
python-multipart
pyyaml==6.0.2
ray[default,tune]==2.2.0
requests
robomimic==0.2.0
robosuite
scikit-image==0.19.3
scikit-video==1.1.11
scipy==1.9.1
shapely==1.8.4
tensorboard
tensorboardx
tqdm==4.64.1
types-protobuf==5.28.3.20241030
typing_extensions==4.12.2
urllib3
uvicorn
wandb
zarr==2.12.0
