<?xml version="1.0" ?>
<robot name="green_star.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.0001"/>
      <inertia_scaling value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".01"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="star.obj" scale="1.0 1.0 1.0"/>
      </geometry>
       <material name="green">
        <color rgba="0.4 1.0 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="star.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
